---
import Header from 'components/Header.astro';
import Link from 'components/Link.astro';
import Page from 'layouts/Page.astro';
import type * as Shared from 'types/shared';

const networks: Shared.Link[] = [
  {
    name: 'Behance',
    url: 'https://www.behance.net/dosbenjamin',
  },
  {
    name: 'GitHub',
    url: 'https://github.com/dosbenjamin',
  },
  {
    name: 'Instagram',
    url: 'https://www.instagram.com/dosbenjamin',
  },
];

const structuredData = {
  '@context': 'https://schema.org/',
  '@type': 'Person',
  url: 'https://benjamindossantos.be',
  name: 'Benjamin Dos Santos',
  email: 'hello@benjamindossantos.be',
  image: `${Astro.url.origin}/me.jpg`,
  jobTitle: 'Designer & Developer',
  telephone: '+32478686902',
  description: 'Designer & Developer basé en Belgique',
  sameAs: [
    'https://www.linkedin.com/in/benjamin-dos-santos',
    'https://www.instagram.com/dosbenjamin',
    'https://github.com/dosbenjamin',
    'https://dribbble.com/dosbenjamin',
    'https://unsplash.com/@dosbenjamin',
    'https://www.behance.net/dosbenjamin',
    'https://www.pinterest.com/dosbenjamin',
  ],
  address: {
    '@type': 'PostalAddress',
    postalCode: '1332',
    addressRegion: 'Walloon Region',
    streetAddress: 'Avenue Albert 1er 299',
    addressCountry: 'BE',
    addressLocality: 'Genval',
  },
  alumniOf: [
    {
      name: 'Haute École Albert Jacquard',
      '@type': 'CollegeOrUniversity',
      sameAs: [
        'https://www.heaj.be',
        'https://www.facebook.com/HEAJofficiel',
        'https://twitter.com/heajofficiel',
        'https://www.instagram.com/heajofficiel',
      ],
    },
    {
      name: 'Collège Saint-Étienne',
      '@type': 'CollegeOrUniversity',
      sameAs: ['https://cste.be/cse', 'https://www.facebook.com/CollegeSaintEtienneCSE'],
    },
  ],
  memberOf: {
    name: 'Sanserif',
    '@type': 'Organization',
    sameAs: [
      'https://www.sanserif.be',
      'https://www.instagram.com/sanserif.collectif',
      'https://www.linkedin.com/company/sanserif-collectif',
    ],
  },
};
---

<Page
  title="Designer & Developer"
  description="Designer & Developer basé en Belgique - Création de site internet"
  thumbnail={`${Astro.url.origin}/thumbnail-home.png`}
  json={structuredData}
>
  <Header
    title="Benjamin Dos Santos"
    subtitle="Designer & Developer"
    link={{ name: 'hello＠benjamindossantos.be', url: 'mailto:hello@benjamindossantos.be' }}
  >
    <p class="text-sm">Travaillons ensemble pour créer un site web qui dépasse vos attentes</p>
    <p class="text-sm">Projets&#8239;:</p>
    <ul class="list-disc text-sm">
      <li><Link href="https://sanserif.be">Sanserif</Link></li>
      <li><Link href="https://adlc.eu">ADLC</Link></li>
    </ul>
    <ul class="space-y-2 text-sm sm:ml-auto sm:space-y-1 sm:text-right" slot="aside">
      {
        networks.map(({ name, url }) => (
          <li>
            <Link href={url}>{name}</Link>
          </li>
        ))
      }
    </ul>
  </Header>
</Page>
