---
import BaseLayout from 'layouts/BaseLayout.astro'
import Header from 'components/Header.astro'
import Link from 'components/Link.astro'
import { client } from 'graphql-client'
import { getHome } from 'queries/getHome'
import type { Shared } from 'types/shared'
import type { Strapi } from 'types/strapi'

type Home = {
  header: Shared.Header
  meta: Shared.SEO.Meta
  structured: Shared.SEO.Structured
}

type Request = {
  home: Strapi.Data<Strapi.Attributes<Home>>
  global: Strapi.Data<Strapi.Attributes<Shared.Global>>
}

const { home, global } = await client.request<Request>(getHome)
const { meta, header, structured } = home.data.attributes
const { networks } = global.data.attributes
---
<BaseLayout
  title={meta.title}
  description={meta.description}
  thumbnail={meta.thumbnail}
  json={structured?.json}
>
  <main class="flex flex-col justify-between gap-4 sm:flex-row">
    <Header
      as="section"
      title={header.title}
      subtitle={header.subtitle}
      description={header.description}
      link={header.link}
    />
    <ul class="space-y-1 text-sm sm:text-right">
      {networks.map(({ name, url }) => (
        <li>
          <Link href={url}>{name}</Link>
        </li>
      ))}
    </ul>
  </main>
</BaseLayout>
