---
import BaseLayout from 'layouts/BaseLayout.astro'
import Header from 'components/Header.astro'
import Link from 'components/Link.astro'
import type * as Shared from 'types/shared'

const networks: Shared.Link[] = [
  {
    name: 'Behance',
    url: 'https://www.behance.net/dosbenjamin'
  },
  {
    name: 'GitHub',
    url: 'https://github.com/dosbenjamin'
  },
  {
    name: 'Instagram',
    url: 'https://www.instagram.com/dosbenjamin'
  }
]

const structuredData = {
  '@context': 'https://schema.org/',
  '@type': 'Person',
  'url': 'https://benjamindossantos.be',
  'name': 'Benjamin Dos Santos',
  'email': 'hello@benjamindossantos.be',
  'image': `${Astro.url.origin}/benjamin.jpg`,
  'vatID': 'BE0775493620',
  'jobTitle': 'Digital Designer & Front-End Developer',
  'telephone': '+32478686902',
  'description': 'Designer and Developer based in Belgium',
  'sameAs': [
    'https://www.linkedin.com/in/benjamin-dos-santos',
    'https://www.instagram.com/dosbenjamin',
    'https://github.com/dosbenjamin',
    'https://dribbble.com/dosbenjamin',
    'https://unsplash.com/@dosbenjamin',
    'https://www.behance.net/dosbenjamin',
    'https://www.pinterest.com/dosbenjamin',
    'https://www.malt.com/profile/benjamindossantos'
  ],
  'address': {
    '@type': 'PostalAddress',
    'postalCode': '1332',
    'addressRegion': 'Walloon Region',
    'streetAddress': 'Avenue Albert 1er 299',
    'addressCountry': 'BE',
    'addressLocality': 'Genval'
  },
  'alumniOf': [
    {
      'name': 'Haute École Albert Jacquard',
      '@type': 'CollegeOrUniversity',
      'sameAs': [
        'https://www.heaj.be',
        'https://www.facebook.com/HEAJofficiel',
        'https://twitter.com/heajofficiel',
        'https://www.instagram.com/heajofficiel'
      ]
    },
    {
      'name': 'Collège Saint-Étienne',
      '@type': 'CollegeOrUniversity',
      'sameAs': [
        'https://cste.be/cse',
        'https://www.facebook.com/CollegeSaintEtienneCSE'
      ]
    }
  ],
  'worksFor': {
    'name': 'Certinergie',
    '@type': 'Organization',
    'sameAs':[
      'https://www.certinergie.be/fr',
      'https://www.certi-it.be',
      'https://www.linkedin.com/company/certinergie',
      'https://www.facebook.com/certinergie',
      'https://www.instagram.com/certinergie'
    ]
  },
  'memberOf': {
    'name': 'Sanserif',
    '@type': 'Organization',
    'sameAs': [
      'https://www.sanserif.be',
      'https://www.instagram.com/sanserif.collectif'
    ]
  }
}
---

<BaseLayout
  title="Designer & Developer"
  description="Designer and Developer based in Belgium"
  thumbnail={`${Astro.url.origin}/thumbnail-home.png`}
  json={structuredData}
>
  <main class="flex flex-col gap-4 sm:justify-between sm:flex-row">
    <Header
      as="section"
      title="Benjamin Dos Santos"
      subtitle="I'm Digital Designer & Front-End Developer"
      link={{ name: 'hello＠benjamindossantos.be', url: 'mailto:hello@benjamindossantos.be'}}
    >
      <p>
        Currently working at <Link href="https://certinergie.be">Certinergie</Link>
      </p>
    </Header>
    <ul class="space-y-1 text-sm sm:text-right">
      {networks.map(({ name, url }) => (
        <li>
          <Link href={url}>{name}</Link>
        </li>
      ))}
    </ul>
  </main>
</BaseLayout>
