---
import type { Shared } from 'types/shared'
import type { Strapi } from 'types/strapi'
import { client } from 'graphql-client'
import { getGlobal } from 'queries/getGlobal'
import Favicon from 'components/Favicon.astro'
import FontFace from 'components/FontFace.astro'
import '../styles/global.css'

export type Props = Partial<Shared.SEO.Meta & Shared.SEO.Structured>

type Global = {
  meta: Shared.SEO.Meta
  favicon: Shared.SEO.Favicon
}

type Request = {
  global: Strapi.Data<Global>
}

const { title, description, thumbnail, json } = Astro.props as Props
const { global } = await client.request<Request>(getGlobal)
const { meta, favicon } = global.data.attributes
const pageTitle = `${title ? `${title} —` : ''} ${meta.title}`
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{pageTitle}</title>
    <meta name="description" content={description || meta.description}>
    <meta name="author" content="Benjamin Dos Santos">
    <meta property="og:site_name" content={meta.title}>
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_GB">
    <meta property="og:title" content={pageTitle}>
    <meta property="og:description" content={description || meta.description}>
    <meta property="og:url" content={Astro.request.canonicalURL.href}>
    <meta property="og:image" content={thumbnail?.url || meta.thumbnail.url}>
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content={pageTitle}>
    <meta name="twitter:description" content={description || meta.description}>
    <meta name="twitter:image" content={thumbnail?.url || meta.thumbnail.url}>
    <meta name="twitter:site" content="@dosbenjamin">
    {favicon.main.data?.attributes && <Favicon icon={favicon.main.data.attributes} />}
    <meta name="theme-color" content="#e8e8e8">
    <link rel="preload" href="/SpaceGrotesk-Regular.woff2" as="font" crossorigin>
    <FontFace />
    {json && (<script type="application/ld+json" set:html={JSON.stringify(json)} />)}
  </head>
  <body>
    <slot />
  </body>
</html>
