---
import { Shared } from 'types/shared'
import { Strapi } from 'types/strapi'
import { client } from 'graphql-client'
import { Global } from 'queries/Global'
import { PROD } from '../config'

export type Props = Shared.SEO

type Global = {
  seo: Shared.SEO
}

type Request = Strapi.Data<{
  global: Global
}>

const { title, description, thumbnail } = Astro.props as Props
const { global } = await client.request<Request>(Global)
const pageTitle = `${title && `${title} —`} ${global.seo.title}`

const style = Astro.resolve('../styles/global.css')
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{pageTitle}</title>
    <meta name="description" content={description || global.seo.description}>
    <meta name="author" content="Benjamin Dos Santos">
    <meta property="og:site_name" content={global.seo.title}>
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_GB">
    <meta property="og:title" content={pageTitle}>
    <meta property="og:description" content={description || global.seo.description}>
    <meta property="og:url" content={Astro.request.canonicalURL.href}>
    <meta property="og:image" content={thumbnail?.url || global.seo.thumbnail.url}>
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content={pageTitle}>
    <meta name="twitter:description" content={description}>
    <meta name="twitter:image" content={thumbnail?.url || global.seo.thumbnail.url}>
    <meta name="twitter:site" content="@dosbenjamin">
    <meta name="twitter:creator" content="@dosbenjamin">
    <link rel="preload" href="/SpaceGrotesk-Regular.woff2" as="font" type="font/woff2" crossorigin>
    {PROD && (<link rel="preload" href={style} as="style">)}
    <link rel="stylesheet" href={style}>
  </head>
  <body>
    <slot />
  </body>
</html>
